body{
    background-image : url('bgi.jpg');
    background-repeat : no-repeat ;
    background-attachment : fixed ;
    background-position: center;
    background-size:cover;
    display:flex;
    justify-content:space-between;
    align-items: flex-start;
    margin: 0;
    padding: 0;

}
.text{
    width: 30%;
    background-image:url('ni.jpeg') ;
    padding: 20px;
}
h1{
   
    color:rgb(255, 0, 157);
}
h2{
    color: aqua;
}
.hi video{
    width:60%;
    text-align:right;
}
.media-wrapper{
    position: relative;
    width: 100%;
}
video,img{
    width:100%;
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
#video image{
    display: none;
}