body{
   
    background-image : url('bgi.jpg');
    background-repeat : no-repeat ;
    background-attachment : fixed ;
    background-position: center;
    background-size:cover;
    margin:0s;
}

.hivideo{
    float: right;
    width:20%;
    
}
.media-wrapper{
    position: relative;
    width: 100%;
}
video,img{
   height: auto;
   width: 100%;
   border-radius: 50%;
    display: block;
    position: absolute;
    margin: 20%;
    right: 40%;
   
}
#video_image{
    display: none;
}
.text{
    float: left;
    width:40% ;
    background-image:url('ni.jpeg') ;
    padding: 100px;
    top:20%;
    left:20%;
}
h1{
   
    color:rgb(255, 0, 157);
}
h2{
    color: aqua;
}
